#clock {
    display: block;
    position: relative;
    margin:auto;
    height: 40vw;
    width: 40vw;
    background: url(images/1000_F_267215373_5R3x1Og7QVtvazHyjuRNKpM7GO6rf9ja.jpg) no-repeat;
    background-size: 100%;
}

#hours, #minutes, #seconds {
    position: absolute;    
    border-radius: 10px;    
    transform-origin: bottom;
    vertical-align: bottom;
}

#pin {  
    position: absolute;  
    background: black;
    border-radius: 50%;
    width: 4.5%;
    height: 4.5%;
    left: 47.7%;
    top: 47.8%;
    opacity: 0.9;
 }

#hours {
    width: 1.3%;
    height: 15%;
    top: 25%;
    left: 49%;
    opacity: 0.8;
    background: black;
    margin-top: 9.6%;
    
}

#minutes {
    margin-top: 6%;
    width: 1.3%;
    height: 19%;
    top: 25%;
    left: 49.5%;
    opacity: 0.8;
    background: green;
    
}

#seconds {
    margin-top: -1.1%;
    width: 1.3%;
    height: 26%;
    top: 25%;
    left: 49.5%;
    opacity: 0.8;
    background: red;
}

.buttons {
    display: flex;     
    justify-content: center;       
    align-content: space-around;
    font-family: 'Century Gothic';
    padding-top: 10px;
 }

