#display {
    
    display: flex;    
    width: 40vw;   
    margin: auto;
    justify-content: center;       
    align-content: space-around; 
    background-color: black;
    color: aqua;
    font-size: 200%;
    font-family: 'Century Gothic';
          	
}
 .buttons {
    display: flex;     
    justify-content: center;       
    align-content: space-around;
    font-family: 'Century Gothic';
    padding-top: 10px;
 }